
body{
    margin: 0px;
    padding: 0px;
     background-color:rgb(207, 204, 204);
   
}


img {
padding:0px;
height: 300px;
width: 413px;
margin: 0px auto;
display: flex;
justify-content: center;
align-items: center;


}
 

 
.fecha{
    display: flex;
    background-color: white;
    text-align: right;
    width: 413px;
    height: 60px;
    margin-left:-880px;
    
     padding-bottom:10px;
     color:gray;
     justify-content: right;
     align-items:stretch;
     
      
      
}
   .fecha h4{
     padding-inline-start: 0%;
     width: 190px;
     padding-top: 10px;
   }
   .fecha h6{
    
     width: 190px;
     padding-top: 10px;
     justify-content: left;
     text-align: right;

   }
.box-2{
    background-color: white;
    text-align: justify;
    width: 410px;
    height: 60px;
    padding: 1px;
    margin: 0px auto;  
    justify-content: space-between;
    align-items: center; 
    
}

    
